{% extends 'base.html.twig' %}
		{% block title %}Cargofret{% endblock %}
{% block body %} 
    
	{% include "SiteBundle:Include:header.html.twig"%}
		
		<div class="container">

			<div class="row">
					<div class="col-md-3">
					<img src="{{ asset('bundles/site/images/accueil2_XS.jpg') }}" />
			
					<br><br><br><br><br><br><br>
					</div>
			</div>
			
			<div class="row">
					<div class="col-md-3">
					VB?NDJKY
					<br><br><br><br><br><br><br>
					</div>
			</div>
	    </div>
		{% include "SiteBundle:Include:footer.html.twig"%}
			{% endblock %}