<footer class="row" style="background-color:black;color:white; margin-top:10px; margin:5px">
				<div class="col-sm-4">
					<h4>CONTACT DE PARIS</h4>
							Accueil : 01 49 51 97 41<br/>
							Mr Angelo GABA	   : 06 21 60 67 65<br>
							Mr Ignace SOGNIGBE : 06 11 87 14 40<br>
							8 rue Maurice Paillard<br>
							93430 Villetaneuse - FRANCE
				</div>
				<div class="col-sm-4">
					<h4>CONTACT DE LOME </h4><br>
							Mr Nono BENISSAN<br>
							Tel: 00228 90 28 66 04<br/>
							Lomé-TOGO<br>
				</div>
				<div class="col-sm-4">
				<h4 >CONTACT DE YAOUNDE</h4><br>
							Mme Isabelle SIEWE<br>
							Tel: 00237 69 69 47 025<br>
							 Yaoundé-CAMEROUN
				</div>
			</footer><br>
		
		</div>
