<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="{{ path('cargofret_site_homepage') }}">Profile</a></li>
  <li role="presentation"><a href="{{ path('cargofret_site_service') }}">Messages</a></li>
  <li role="presentation"><a href="{{ path('cargofret_site_contact') }}">Messages</a></li>
</ul>
